{% load static tailwind_tags %}
<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Social Wallet</title>
        {% tailwind_css %}
    </head>
    <body>
            <div>
                <nav class="w-full bg-indigo-500 flex justify-between px-6 py-4 shadow-md">
                    <div class="flex space-x-2 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="white"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6.5 10h-2v7h2v-7zm6 0h-2v7h2v-7zm8.5 9H2v2h19v-2zm-2.5-9h-2v7h2v-7zm-7-6.74L16.71 6H6.29l5.21-2.74m0-2.26L2 6v2h19V6l-9.5-5z"/></svg>
                        <h1 class="text-xl font-bold text-white cursor-pointer">Social Wallet</h1>
                    </div>
                    
                </nav>
                <!-- Main Component -->
                <main class="mt-16 h-screen">
                    <!-- Search component -->
                    <div class="flex items-center max-w-xl mx-auto">
                        {% block content %}{% endblock %}
                    </div>
                </main>
                <!-- Footer Component -->
                <footer class="bg-gray-800 items-center py-8">
                    <div class="text-center">
                        <p class="text-white text-md">
                            Made with ❤️ by Social Enjoyers
                        </p>
                    </div>
                </footer>
            </div>
    </body>
</html>
