{% extends 'base.html' %}
{% block content %}
<div class="container p-2 mx-auto sm:p-4 dark:text-coolGray-100">
	<h2 class="mb-4 text-2xl font-semibold leading-tight">Transações</h2>
	<div class="overflow-x-auto">
		<table class="min-w-full text-xs">
      
			<colgroup>
				<col>
				<col>
				<col>
				<col>
			</colgroup>
      
			<thead class="dark:bg-coolGray-700">
				<tr class="text-left">
					<th class="p-3">Acção</th>
					<th class="p-3">Valor</th>
					<th class="p-3 text-left">Data</th>
					<th class="p-3 text-center">Status</th>
				</tr>
        
			</thead>
      
			<tbody>
        {% for obj in data %}
				<tr class="border-b border-opacity-20 dark:border-coolGray-700 dark:bg-coolGray-900">

					<td class="p-3">
						<p>{{ obj.name }}</p>
					</td>
					<td class="p-3">
						<p>{{ obj.value }} €</p>
					</td>
					<td class="p-3">
						<p>{{ obj.day }}</p>
					</td>
					<td class="p-3 text-right">
						<span class="px-3 py-1 font-semibold rounded-md dark:bg-violet-400 dark:text-coolGray-900">
							<span>Completed</span>
						</span>
					</td>
				</tr>
				</tr><!---->
        {% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}